[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.7'

[dev-packages]
ipython = "*"

[packages]
pykeybasebot = {ref = "e9ae95e24d596fefe7c5b332d8c5cb601cc5d19c",git = "https://github.com/keybase/pykeybasebot.git"}
requests = "*"
opentimestamps = "*"
opentimestamps-client = "*"
pgpy = "*"
