[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.7'

[dev-packages]
ipython = "*"

[packages]
pykeybasebot = {ref = "xgess/add-public-broadcast",git = "https://github.com/keybase/pykeybasebot.git"}
requests = "*"
opentimestamps = "*"
opentimestamps-client = "*"
pgpy = "*"
